@layer theme, base, mui, components, utilities;
@import 'tailwindcss' important;

/* Minimal base layout */
html,
body,
#root {
  height: 100%;
}

* {
  outline-color: #cba344;
}

.bg-mild-orange {
  background-color: #f0eee4;
}
